In [41]:
import pandas as pd
from bcb import sgs, Expectativas
from datetime import datetime, timedelta

In [42]:
em = Expectativas()
# em.describe()

ep_pib_total = em.get_endpoint('ExpectativasMercadoAnuais')

In [43]:
# função para fazer a formatação das DataFrames
def formata_df(df: pd.DataFrame, format_data_rf: str):
    
    # Formatando as datas
    df['DataReferencia'] = pd.to_datetime(df['DataReferencia'], format=format_data_rf)

    # Colocando DataReferencia como header
    df_pivot = df.pivot_table(index='Data', columns='DataReferencia', values='Mediana')
    
    # Formatando data e ordem da DataReferencia
    df_pivot = df_pivot.sort_index(axis=1)
    df_pivot.columns = df_pivot.columns.strftime('%Y')
    return df_pivot

In [44]:
# PIB Total var anual
pib_anual = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Total', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_anual_pivot = formata_df(pib_anual, '%Y')
pib_anual_pivot

DataReferencia     2022     2023    2024    2025  2026  2027  2028
Data
2023-01-02      3.01800  0.79650  1.5500  1.9450   2.0   NaN   NaN
2023-01-03      3.01800  0.76785  1.5000  1.8975   2.0   NaN   NaN
2023-01-04      3.01800  0.75445  1.5000  1.8975   2.0   NaN   NaN
2023-01-05      3.01535  0.75000  1.5000  1.9000   2.0   NaN   NaN
2023-01-06      3.01280  0.71625  1.5000  1.9500   2.0   NaN   NaN
...                 ...      ...     ...     ...   ...   ...   ...
2024-03-18          NaN      NaN  1.8000  2.0000   2.0   2.0   2.0
2024-03-19          NaN      NaN  1.8008  2.0000   2.0   2.0   2.0
2024-03-20          NaN      NaN  1.8000  2.0000   2.0   2.0   2.0
2024-03-21          NaN      NaN  1.8000  2.0000   2.0   2.0   2.0
2024-03-22          NaN      NaN  1.8308  2.0000   2.0   2.0   2.0

[306 rows x 7 columns]

In [45]:
# PIB Agro
pib_agro = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Agropecuária', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_agro_pivot = formata_df(pib_agro, '%Y')
pib_agro_pivot

DataReferencia   2022   2023  2024   2025  2026  2027  2028
Data
2023-01-02     -0.840  5.300  3.00  3.075   3.1   NaN   NaN
2023-01-03     -0.940  6.450  3.00  3.075   3.1   NaN   NaN
2023-01-04     -0.870  5.625  2.75  3.000   3.0   NaN   NaN
2023-01-05     -0.795  5.500  3.00  3.075   3.1   NaN   NaN
2023-01-06     -0.965  5.250  3.00  3.150   3.2   NaN   NaN
...               ...    ...   ...    ...   ...   ...   ...
2024-03-18        NaN    NaN -1.00  3.000   3.0   3.0   3.0
2024-03-19        NaN    NaN -1.00  3.000   3.0   3.0   3.0
2024-03-20        NaN    NaN -1.00  3.000   3.0   3.0   3.0
2024-03-21        NaN    NaN -1.05  3.000   3.0   3.0   3.0
2024-03-22        NaN    NaN -0.95  3.000   3.0   3.0   3.0

[306 rows x 7 columns]

In [46]:
# PIB Industria
pib_ind = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Indústria', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_ind_pivot = formata_df(pib_ind, '%Y')

In [47]:
# PIB Serviços
pib_servicos = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Serviços', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_servicos_pivot = formata_df(pib_servicos, '%Y')

In [49]:
with pd.ExcelWriter(r'C:\Users\rm170600\Documents\Python\Projeto_API_SGS\Expec_PIB.xlsx') as writer:
    pib_anual_pivot.to_excel(writer, sheet_name='Var% PIB anual 2024')
    pib_agro_pivot.to_excel(writer, sheet_name='PIB agro 2024')
    pib_ind_pivot.to_excel(writer, sheet_name='PIB ind 2024')
    pib_servicos_pivot.to_excel(writer, sheet_name='PIB servicos 2024')