In [68]:
import pandas as pd
from bcb import sgs, Expectativas
from datetime import datetime, timedelta
import numpy as np

In [69]:
em = Expectativas()
# em.describe()

ep_pib_total = em.get_endpoint('ExpectativasMercadoAnuais')

In [70]:
# função para fazer a formatação das DataFrames
def formata_df(df: pd.DataFrame, format_data_rf: str):
    
    # Formatando as datas
    df['DataReferencia'] = pd.to_datetime(df['DataReferencia'], format=format_data_rf)

    # Colocando DataReferencia como header
    df_pivot = df.pivot_table(index='Data', columns='DataReferencia', values='Mediana')
    
    # Formatando data e ordem da DataReferencia
    df_pivot = df_pivot.sort_index(axis=1)
    df_pivot.columns = df_pivot.columns.strftime('%Y')
    return df_pivot.applymap(lambda x: '{:.4f}'.format(x) if not pd.isnull(x) else np.nan)

In [71]:
# PIB Total var anual
pib_anual = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Total', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_anual_pivot = formata_df(pib_anual, '%Y')
pib_anual_pivot

DataReferencia    2022    2023    2024    2025    2026    2027    2028
Data
2023-01-02      3.0180  0.7965  1.5500  1.9450  2.0000     NaN     NaN
2023-01-03      3.0180  0.7679  1.5000  1.8975  2.0000     NaN     NaN
2023-01-04      3.0180  0.7545  1.5000  1.8975  2.0000     NaN     NaN
2023-01-05      3.0153  0.7500  1.5000  1.9000  2.0000     NaN     NaN
2023-01-06      3.0128  0.7163  1.5000  1.9500  2.0000     NaN     NaN
...                ...     ...     ...     ...     ...     ...     ...
2024-03-22         NaN     NaN  1.8308  2.0000  2.0000  2.0000  2.0000
2024-03-25         NaN     NaN  1.8491  2.0000  2.0000  2.0000  2.0000
2024-03-26         NaN     NaN  1.8426  2.0000  2.0000  2.0000  2.0000
2024-03-27         NaN     NaN  1.8900  2.0000  2.0000  1.9906  2.0000
2024-03-28         NaN     NaN  1.8875  2.0000  2.0000  2.0000  2.0000

[310 rows x 7 columns]

In [72]:
# PIB Agro
pib_agro = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Agropecuária', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_agro_pivot = formata_df(pib_agro, '%Y')
pib_agro_pivot

DataReferencia     2022    2023     2024    2025    2026    2027    2028
Data
2023-01-02      -0.8400  5.3000   3.0000  3.0750  3.1000     NaN     NaN
2023-01-03      -0.9400  6.4500   3.0000  3.0750  3.1000     NaN     NaN
2023-01-04      -0.8700  5.6250   2.7500  3.0000  3.0000     NaN     NaN
2023-01-05      -0.7950  5.5000   3.0000  3.0750  3.1000     NaN     NaN
2023-01-06      -0.9650  5.2500   3.0000  3.1500  3.2000     NaN     NaN
...                 ...     ...      ...     ...     ...     ...     ...
2024-03-22          NaN     NaN  -0.9500  3.0000  3.0000  3.0000  3.0000
2024-03-25          NaN     NaN  -0.9500  3.0000  3.0000  3.0000  3.0000
2024-03-26          NaN     NaN  -0.9500  3.0000  3.0000  3.0000  3.0000
2024-03-27          NaN     NaN  -1.0000  3.0000  3.0000  3.0000  3.0000
2024-03-28          NaN     NaN  -1.0500  3.0000  3.0000  3.0000  3.0000

[310 rows x 7 columns]

In [73]:
# PIB Industria
pib_ind = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Indústria', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_ind_pivot = formata_df(pib_ind, '%Y')

In [74]:
# PIB Serviços
pib_servicos = ep_pib_total.query().filter(ep_pib_total.Indicador == 'PIB Serviços', ep_pib_total.Data >= '2023-01-01').select(ep_pib_total.Indicador, ep_pib_total.Data, ep_pib_total.DataReferencia, ep_pib_total.Mediana).collect()
pib_servicos_pivot = formata_df(pib_servicos, '%Y')

In [75]:
with pd.ExcelWriter(r'C:\Users\rm170600\Documents\Python\Projeto_API_SGS\Expec_PIB.xlsx') as writer:
    pib_anual_pivot.to_excel(writer, sheet_name='Var% PIB anual 2024')
    pib_agro_pivot.to_excel(writer, sheet_name='PIB agro 2024')
    pib_ind_pivot.to_excel(writer, sheet_name='PIB ind 2024')
    pib_servicos_pivot.to_excel(writer, sheet_name='PIB servicos 2024')

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\rm170600\\Documents\\Python\\Projeto_API_SGS\\Expec_PIB.xlsx'